@model ShowProductsViewModel

@{ int rowCount = 1; }

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th scope="col">تصویر</th>
            <th scope="col">نام</th>
            <th scope="col">قیمت</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>@rowCount</td>
                <td>
                    <img src="/images/@(item.ImageId).jpg" style="max-width: 200px; border: 1px solid gray;padding: 3px" />
                </td>
                <td>
                    @item.Name
                </td>
                <td>@item.Item.Price</td>
                <td>
                    <a onclick="showModal('@Url.Action("AddOrEditProduct", "ProductsManager", new {productId = item.Id}, Context.Request.Scheme)', 'ویرایش محصول')"
                       class="btn btn-warning text-white">
                        ویرایش
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                            <path d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                        </svg>
                    </a>
                    <form asp-action="DeleteProduct" asp-route-productId="@item.Id"
                          onsubmit="return jQueryAjaxDelete(this)" class="d-inline">
                        <input type="hidden" asp-for="@item.Id" />
                        <button type="submit" class="btn btn-danger">
                            حذف
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                            </svg>
                        </button>
                    </form>
                    <a onclick="showModal('@Url.Action("AddCategoryToProductCategories", "ProductsManager", new {productId = item.Id}, Context.Request.Scheme)', 'افزودن گروه به محصول')"
                       class="d-inline btn btn-primary text-white">
                        افزودن گروه به محصول
                    </a>
                </td>
            </tr>
            rowCount++;
        }
    </tbody>
</table>

<hr />

<nav class=" mt-3">
    <ul class="pagination justify-content-center">
        <li class="page-item @(((Model.PageId) -1) == 0 ? "disabled":"")">
            <a class="page-link" asp-action="Index" asp-route-pageId="@((Model.PageId) -1)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>

        @for (var i = 1; i <= Model.PageCount; i++)
        {
            <li class="page-item @(i== Model.PageId? "active":"")">
                <a class="page-link" asp-action="Index" asp-route-pageId="@i">@i</a>
            </li>
        }

        <li class="page-item @(Model.PageId == (int)Model.PageCount ? "disabled":"")">
            <a class="page-link" asp-route-pageId="@((Model.PageId) +1)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>

    </ul>
</nav>
