@model IEnumerable<CommentForProduct>
@inject UserManager<User> UserManager;


@if (Model != null)
{
    @foreach (var comment in Model)
    {
        <div class="card">

            <div class="card-body">
                نام کاربر : @comment.FullName <br />

                تاریخ : @comment.DateTime <br />

                کامنت : @comment.Comment <br />

                لایک : @comment.Like <br />

                پاسخ :

                @{
                    var user = await UserManager.FindByIdAsync(User.FindFirstValue(ClaimTypes.NameIdentifier));


                    var answer = new AnswerToComment()
                    {
                        UserId = User.FindFirstValue(ClaimTypes.NameIdentifier),
                        FullName = user.FullName,
                        CommentId = comment.Id,
                        DateTime = DateTime.Now.ToShamsi(),
                    };
                }

                <partial name="/Views/Shared/Product/AnswerToComment.cshtml" model="answer" />

                <hr />
                @foreach (var ans in comment.AnswersToComment)
                {
                    <p>@ans.AnswerComment</p>
                }
            </div>


        </div>
    }
}
