@inject IUnitOfWork uow;

@foreach (var item in await uow.CategoryRe.GetCategoriesForShowAsync())
{
    <li class="drop-down">
        <a asp-controller="Product" asp-action="ShowProductsByCategoryId"
           asp-route-categoryId="@item.CategoryId" asp-route-categoryName="@item.CategoryName.Replace(" ","-")">@item.CategoryName</a>
        <ul>
            @foreach (var child in item.ChildCategories)
            {
                <li><a asp-controller="Product" asp-action="ShowProductsByChildCategoryId" 
                       asp-route-childCategoryId="@child.Id" asp-route-childCategoryName="@child.Name.Replace(" ","-")">@child.Name</a></li>
            }
        </ul>
    </li>
}





