@model DetailViewModel
@inject UserManager<User> UserManager;
@{
    ViewData["Title"] = "کالا " + Model.Product.Name;
}

<h1 class="display-5">@Model.Product.Name</h1>
<hr />
<img src="@($" /images/{Model.Product.ImageId}.jpg")"
     alt="@Model.Product.Name"
     class="img-thumbnail" />
<p class="py-5 text-justify">@Model.Product.Description</p>
<p>قیمت : @Model.Product.Item.Price.ToToman()</p>

<dl>
    <dt>لینک کوتاه</dt>
    <dd>
        <a href=@("https://localhost:44381/p/" + Model.Product.ShortKey)>@("localhost:44381/p/" + Model.Product.ShortKey)</a>
    </dd>
</dl>

<dl>
    @foreach (var item in Model.Categories)
    {
        <dt>
            <a class="dropdown-item" asp-controller="Product" asp-action="ShowProductsByCategoryId" asp-route-categoryId="@item.Id" asp-route-categoryName="@item.Name">
                @item.Name
            </a>
        </dt>
        <dd>@item.Description</dd>
    }
</dl>
<div>

    <form asp-controller="Cart" asp-action="AddToCart" asp-route-itemId="@Model.Product.ItemId" asp-route-userId="@Model.UserId" method="post">
        <button type="submit" class="btn btn-danger">افزودن به سبد خرید</button>
    </form>

    @{
        var user = await UserManager.FindByIdAsync(Model.UserId);

        var addCommentToProduct = new CommentForProduct()
        {
            UserId = Model.UserId,
            ProductId = Model.Product.Id,
            FullName = user.FullName,
            DateTime = DateTime.Now.ToShamsi()
        };
    }

    @await Html.PartialAsync("Product/AddCommentToProduct",addCommentToProduct)
    
    
    <button type="button" onclick="GetCommentsOfProduct(@Model.Product.Id,20)">مشاهده نظرات</button>
    

    <div id="showComments">
        @*@await Component.InvokeAsync("ProductComments", new { productId = Model.Product.Id })*@
        @await Html.PartialAsync("Product/_CommentsOfProduct")
    </div>
</div>



@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
