@model DetailViewModel
@inject UserManager<User> UserManager;
@{
    ViewData["Title"] = "کالا " + Model.Product.Name;
}

<h1 class="display-5">@Model.Product.Name</h1>
<hr />
<img src="@($" /images/{Model.Product.ImageId}.jpg")"
     alt="@Model.Product.Name"
     class="img-thumbnail" />
<p class="py-5 text-justify">@Model.Product.Description</p>
<p>قیمت : @Model.Product.Item.Price</p>

<dl>
    <dt>لینک کوتاه</dt>
    <dd>
        <a href=@("https://localhost:44381/p/" + Model.Product.ShortKey)>@("localhost:44381/p/" + Model.Product.ShortKey)</a>
    </dd>
</dl>

<dl>
    @foreach (var item in Model.Categories)
    {
        <dt>
            <a class="dropdown-item" asp-controller="Product" asp-action="ShowProductsByCategoryId" asp-route-categoryId="@item.Id" asp-route-categoryName="@item.Name">
                @item.Name
            </a>
        </dt>
        <dd>@item.Description</dd>
    }
</dl>
<div>

    <form asp-controller="Cart" asp-action="AddToCart" asp-route-itemId="@Model.Product.ItemId" asp-route-userId="@Model.UserId" method="post">
        <button type="submit" class="btn btn-danger">افزودن به سبد خرید</button>
    </form>

    @{
        var user = await UserManager.FindByIdAsync(Model.UserId);

        var addCommentToProduct = new CommentForProduct()
        {
            UserId = Model.UserId,
            ProductId = Model.Product.Id,
            FullName = user.FullName,
            DateTime = DateTime.Now.ToShamsi()
        };

        var addQuestionToProduct = new QuestionForProduct()
        {
            UserId = Model.UserId,
            ProductId = Model.Product.Id,
            FullName = user.FullName,
            DateTime = DateTime.Now.ToShamsi()
        };
    }
    <partial name="Product/AddCommentToProduct" model="addCommentToProduct" />
    <partial name="Product/AddQuestionToProduct" model="addQuestionToProduct" />
</div>
<div class="row">
    <div class="col-6">
        @foreach (var comment in Model.CommentsForProduct)
        {
            <div class="card">

                <div class="card-body">
                    نام کاربر : @comment.FullName <br />

                    تاریخ : @comment.DateTime <br />

                    کامنت : @comment.Comment <br />

                    لایک : @comment.Like <br />
                </div>
            </div>
        }
    </div>
    <div class="col-6">
        @foreach (var question in Model.QuestionsForProduct)
        {
            <div class="card">

                <div class="card-body">
                    نام کاربر : @question.FullName <br />

                    تاریخ : @question.DateTime <br />

                    کامنت : @question.QuestionText <br />

                    لایک : @question.Like <br /> <hr />

                    @{
                        var answerToQuestion = new AnswerToQuestion()
                        {
                            UserId = Model.UserId,
                            FullName = user.FullName,
                            QuestionId = question.Id,
                            DateTime = DateTime.Now.ToShamsi(),
                        };
                    }
                    <partial name="Product/AnswerToQuestion" model="answerToQuestion" />

                    <hr />
                    @foreach (var answer in question.AnswersToQuestion)
                    {
                        <div class="card-body">
                            نام کاربری جواب دهنده : @answer.FullName <br />

                            تاریخ جواب دهنده : @answer.DateTime <br />

                            کامنت جواب دهنده : @answer.AnswerText <br />

                            لایک : @answer.Like <br /> <hr />
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>





@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
